[submodule "source/client/Engine/vendor/glfw"]
	path = source/client/Engine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "source/client/Engine/vendor/spdlog"]
	path = source/client/Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "source/client/Engine/vendor/imgui"]
	path = source/client/Engine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "source/client/Engine/vendor/glm"]
	path = source/client/Engine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "source/client/Engine/vendor/freetype"]
	path = source/client/Engine/vendor/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "source/client/Engine/vendor/msdfgen"]
	path = source/client/Engine/vendor/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
[submodule "source/client/Engine/vendor/msdfatlas"]
	path = source/client/Engine/vendor/msdfatlas
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
